:root {
    --red: #d2302d;
    --green: rgb(0, 177, 36);
    --black: #5a5b5a;
    --white: #ebeaea;
    --grey: #afafae;
    --lightBlack: rgba(0, 0, 0, 0.4);
    --lightRed: rgba(250, 0, 0, 0.3);
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px 0 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-y: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    box-sizing: border-box;
}

